<div class="modal">
  <div class="modal__field">
    <div class="modal__head">
      {{> title title="Войти"}}
    </div>
      <div class="modal__body">
        <div class="modal__row">
          <div class="modal__cell">
            <div>{{> input id="login" placeholder="Логин"}}</div>
          </div>
        </div>
        <div class="modal__row">
          <div class="modal__cell">
            <div>{{> input id="password" placeholder="Пароль"}}</div>
          </div>
        </div>
      </div>
      
      <div class="modal__footer">
        <div class="modal__row">
          <div class="modal__cell">
            {{> button id="login" text="Вход" event="router('chatPage')"}}
          </div>
        </div>
        <div class="modal__row">
          <div class="modal__cell">
            {{> button id="login" variant="button__secondary" text="Ещё не зарегистрированы?" event="router('register')"}}
          </div>
        </div>
      </div>

      <div class="errors-page">
        {{> button text="404" id='404' text="404" event="router('page404')"}}
        {{> button text="500" id='500' text="500" event="router('page500')"}}
      </div>
  </div>
</div>