

<label class="input">
    <div class="input__label">{{label}}</div>
    <div class="input__wrapper">
        <input type="text" placeholder={{placeholder}} class="input__field" id={{id}} name={{id}}>
    </div>
</label>