<div class="error-page">
  <div class="error-page__content">
    <div class="error-page__image">
      <img src={{errorImageUrl}} alt="error">
    </div>
    <div class="error-page__title">Похоже что чтото работает не так как надо</div>
  </div>
</div>
