:root {
  --main-color: #0d4cd3;
  --message-color: #3369f3;
  --bg-color: #e4ecfd;
  --bg-aside-color: #fafcff;
  --white-color: #fff;
  --gray-color: #999;
  --border-color: #e5eaf5;
  --field-color: #f5f7fa;
  --placeholder-color: 66727F;
  --border-radius: 8px;
  --border-radius-big: 16px;
  --gap: 8px;
  --font-lato: "lato", Verdana, sans-serif;
}
