<div class="error-page">
  <div class="error-page__content">
    <div class="error-page__image">
      <img src={{errorImageUrl}} alt="error">
    </div>
    <div class="error-page__title">Страница не найдена</div>
  </div>
</div>
